
# Misc
.gitconfig
desktop.ini
README.md.backup

# Visual Studio
.vs/
Win32/Debug/
Win32/Release/Foldrion.pdb
Win32/Release/build/
*.aps
src/Controller/EmbeddedBadgeDll.generated.h

# PyCharm
.idea/
src/Controller/Win32/Release/Foldrion.pdb
src/Controller/Win32/Release/build/*
